body {
  margin-top: 20px;
  /*padding: 0;*/
  /*font-family: sans-serif;*/
  background-color: #2a2d32;
  color: rgba(255, 255, 255, 0.5);
}
#movie-watchlist {
  background-color: #2e3136;
}
thead,
#movie-list > table.bordered tr,
#root input[type="text"],
#root input[type="number"],
#root input[type="search"] {
  border-bottom: 1px solid #393c41;
}
/*table.striped>tbody>tr:nth-child(odd) {
  background-color: #2e3136;
}*/
.clickable {
  cursor: pointer;
}
#loader {
  display: flex;
  justify-content: center;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
